.wp-submenu li a[href*="taxonomy"] {
  background: #4a4a4a;
  padding-left: 2rem;
}

.multiselect-wrapper,
.meta-box-array-wrap
{
  border: 1px solid lightgray;
  border-radius: 5px;
  max-height: 400px;
  overflow: scroll;
  padding: 0 .5rem 1rem;
}
