#characters {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  &:not(.engage) {
    height: 50px;
    left: unset;
    z-index: 5;
    right: 10.5rem;
    top: 1rem;
    transform: unset;
    width: 50px;

    &:hover {
      &:before {
        font-size: 50px;
      }
    }
  }

  &.engage {
    z-index: 20;

    .characters-content {
      display: block;
    }
  }

  .characters-content {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    padding: 1rem;

    h2 {
      margin-top: 0;
    }

    .characters-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      .close-settings {
        cursor: pointer;
        position: absolute;
        right: .25rem;
        top: .25rem;
      }

      .character-list {
        display: flex;
        gap: 1rem;

        .character-item {
          align-items: center;
          border: 4px solid white;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          justify-content: flex-end;
          width: 150px;

          &:hover {
            border-radius: 4px;
          }

          .character-images {
            .character-icon {
              display: none;

              &.engage {
                display: block;
              }
            }
          }
        }
      }

      label {
        margin-bottom: 1rem;
      }

      a {
        margin-top: 1rem;
      }
    }
  }
}

#settings {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;

  &:not(.engage) {
    height: 50px;
    right: 1rem;
    left: unset;
    top: 1rem;
    transform: unset;
    width: 50px;
    z-index: 5;

    &:hover {
      &:before {
        font-size: 50px;
      }
    }
  }

  &.engage {
    z-index: 20;

    .setting-content {
      display: block;
    }
  }

  .setting-content {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    padding: 1rem;

    h2 {
      margin-top: 0;
    }

    .settings-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      .close-settings {
        cursor: pointer;
        position: absolute;
        right: .25rem;
        top: .25rem;
      }

      label {
        margin-bottom: 1rem;
      }

      a {
        margin-top: 1rem;
      }
    }
  }
}

#storage {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;

  &:not(.engage) {
    height: 50px;
    left: unset;
    right: 5.5rem;
    top: 1rem;
    transform: unset;
    z-index: 9;
    width: 50px;

    &:hover {
      &:before {
        font-size: 50px;
      }
    }
  }

  &.engage {
    z-index: 10;

    .storage-content {
      display: block;
    }
  }

  .storage-content {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    padding: 1rem;
    margin: auto;
    width: 600px;

    h2 {
      margin-top: 0;
    }

    .storage-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      .close-settings {
        cursor: pointer;
        position: absolute;
        right: .25rem;
        top: .25rem;
      }

      .retrieval-points {
        .menu-tabs {
          display: flex;
          gap: 2rem;
          border: 1px solid black;
          padding: 1rem;

          &>div {
            cursor: pointer;
          }
        }

        .storage-menu {
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          display: none;
          flex-wrap: nowrap;

          &[data-menu="weapons"] {
            .storage-item {
              img {
                object-fit: contain;
                width: 80px;
              }
            }
          }

          &.engage {
            display: flex;
          }

          .storage-item {
            border-top: 1px solid black;
            border-right: 1px solid black;
            padding: 1rem;
            width: 100%;

            &:before {
              content: attr(data-count);
            }

            &[data-type="health"] {
              &:after {
                content: '♥';
                font-size: 2rem;
              }
            }

            &[data-type="mana"] {
              &:after {
                content: '⁂';
                font-size: 2rem;
              }
            }
          }
        }
      }

      label {
        margin-bottom: 1rem;
      }

      a {
        margin-top: 1rem;
      }
    }
  }
}
